*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(155, 224, 201);
}

.container {
    width: 70%;
    margin: 0 auto;
}

.col-25 {
    width: 25%;
    background-color: rgb(235, 138, 27);
    height: 25px;
    border: 1px dashed black;
    margin: 12px 0px;
}

.col-50 {
    width: 50%;
    background-color: rgb(235, 138, 27);
    height: 25px;
    border: 1px dashed black;
    margin: 12px 0px;
}

.jumbotron {
    background-color: blue;
    height: 450px;
    display: flex;
    align-items: center;

}

.col-60 {
    background-color: pink;
    width: 60%;
    height: 300px;
    border: 1px dashed black;
}



