*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(155, 224, 201);
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* SFONDI */
.sezione-bianca {
    background-color: white;
    height: 450px;
    align-items: center;
    display: flex;
}

.sezione-grigia-1 {
    background-color: grey;
    height: 450px;
    align-items: center;
    display: flex;
}

.sezione-grigia-2 {
    background-color: grey;
    height: 550px;
    align-items: center;
    display: flex;
}

.sezione-nera {
    background-color: rgb(23, 23, 23);
    height: 450px;
    align-items: center;
    display: flex;
}

.jumbotron {
    background-color: blue;
    height: 450px;
    display: flex;
    align-items: center;
}

/* COLONNE */
.col-10 {
    width: 10%;
    background-color: pink;
    height: 25px;
    border: 1px dashed black;
}

.col-17 {
    width: 17%;
    background-color: lightseagreen;
    height: 350px;
    border: 1px dashed white;
}

.col-25 {
    width: 25%;
    background-color: rgb(235, 138, 27);
    height: 25px;
    border: 1px dashed black;
    margin: 12px 0px;
}

.col-30 {
    width: 30%;
    background-color: pink;
    height: 350px;
    border: 1px dashed black;
}

.col-50 {
    width: 50%;
    background-color: rgb(235, 138, 27);
    height: 25px;
    border: 1px dashed black;
    margin: 12px 0px;
}

.col-60 {
    background-color: pink;
    width: 60%;
    height: 300px;
    border: 1px dashed black;
}

.col-70 {
    width: 70%;
    background-color: lightblue;
    height: 350px;
    border: 1px dashed black;
}

.col-100 {
    width: 100%;
    background-color: green;
    height: 450px;
    border: 1px dashed black;
}

/* FOOTER */
.container-foot {
    width: 70%;
    margin: 0 auto;
    background-color: aquamarine;
    height: 50px;
    align-items: flex-end;
    display: flex;

}

footer { 
    width: 100%;
    height: 50px;
    background-color: rgb(23, 23, 23);
}

.row-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}





